<p id="notice"><%= notice %></p>

<p>
  <strong>Datecode:</strong>
  <%= @micropost.datecode %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @micropost.mood %>
</p>

<p>
  <strong>Is onechance:</strong>
  <%= @micropost.is_onechance %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
