<p id="notice"><%= notice %></p>

<h1>カレンダー</h1>
<!-- Button to trigger modal -->
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">投稿する</button>

<div class="meter-wrap">
<label>ワンチャン具合</label>    
<meter value="<%= @onechance_percent.to_i %>" min="0" max="100" low="40" haigh="100" optimum="60"></meter>
</div>


<nav>
	<ul class="pager">
		<li><a href="/calender/weekly?from=<%= @prev_date %>">先週</a></li>
		<li><a href="/calender/weekly?from=<%= @next_date %>">来週</a></li>
	</ul>
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">投稿する</h4>
            </div>
            <div class="modal-body">
                <form action="/microposts" method="POST">
                    <label>気分</label>
                    <div class="overlay-post-icons">
                        <div class="content-mood-1">
                            <label for="mood-1">だめだめ</lebel>
                            <input class="form-control" type="radio" id="mood-1" name="mood" value="1" />
                        </div>
                        <div class="content-mood-2">
                            <label for="mood-2">ふつう</lebel>
                            <input class="form-control" type="radio" id="mood-2" name="mood" value="2" />
                        </div>
                        <div class="content-mood-3">
                            <label for="mood-3">最高！</lebel>
                            <input class="form-control" type="radio" id="mood-3" name="mood" value="3" />
                        </div>
                    </div>
                    <label for="content">一言</label>
                    <textarea class="form-control" id="content" value="" maxlength="140" placeholder="140文字まで"></textarea>
                    <input class="form-control" type="checkbox" id="is_onechance" />
                    <label class="checkbox" for="is_onechance">ワンチャン？</label>
                    <span data-toggle="tooltip" data-original-title="ワンチャン？それは仕事帰りにみんなで乾杯するための秘密の合図。"><span class="glyphicon glyphicon-question-sign"></span></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="send" class="btn btn-primary btn-block">保存</button>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

 
<table class="table">
    <thead>
        <tr>
        <th></th>
        <% @days.each do |day| %>
        <th>
            <div><%= day.to_time.strftime('%Y/%m/%d') %></div>
        </th>
        <% end %>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
                <div class="user-wrap">
                    <div><%= gravatar_for user %></div>
                    <div><a href="/users/<%= user.id %>"><%= user.name %></a></div>
                </div>
            </td>
            <% @days.each do |day| %>
            <td>
                <% content = @posts_weekly.find { |n| n.datecode == day.to_i and n.user_id == user.id } %>
                <% if !content.nil? then %>
                    <ul class="wrap">
                        <li class="content-mood-<%= content.mood %>">
                            <div>
                                <span><%= content.content %></span>
                            </div>
                        </li>
                    </div>
                <% end %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        // クリック
        $('#send').on('click', function(){
            
            var checked = $('input[name=mood]:checked').val();
            var content = $('#content').val();
            var onechance = $('#is_onechance').prop('checked');
            $.ajax({
                type: 'POST',
                url: '/microposts/',
                timeout: 10000,
                cache: true,
                data: {
                    'micropost[content]': content,
                    'micropost[mood]': checked,
                    'micropost[is_onechance]': onechance                    
                },
                dataType: 'json'
            }).always(function(data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                location.reload();
            });
        });
        
        $('.overlay-post-icons div').click(function(){
            var items = $('.overlay-post-icons div');
            for (var i = 0; i < items.length; i++){
                $(items[i]).removeClass('checked');
            }

            $(this).addClass('checked');
        });

        $('[data-toggle="tooltip"]').tooltip()
        
        $('#send').attr('disabled', 'disabled');
        
        $.each(['mood-1', 'mood-2', 'mood-3', 'content', 'is_onechance' ], function(){
           $('#' + this).change(function(){
               if($('input[name=mood]:checked').val() == undefined)
               {
                    $('#send').attr('disabled', 'disabled');
                   return;
               }
               
               if($('#content').val().length < 1)
               {
                    $('#send').attr('disabled', 'disabled');
                   return;
               }
               
               $('#send').removeAttr('disabled');
           });
        });
    });
</script>