<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス' %>

      <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード' %>

      <%= f.check_box :remember_me, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        保存する
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>アカウントを持っていない場合は<%= link_to "こちら", signup_path %>から</p>
  </div>
</div>